$primary-green: #7ed56f;
$primary-green--light: #55c57a;
$primary-green--dark: #28b485;

$primary-yellow--light: #ffb900;
$primary-yellow--dark: #ff7730;

$primary-blue--light: #2998ff;
$primary-blue--dark: #5643fa;

$primary-gray--light: #f7f7f7;
$primary-gray--dark: #777;

$primary-white: #fff;
$primary-black: #000;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;