.btn {

    &, &:link, &:visited {

        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        border-radius: 100px;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // FOR <BUTTON> ELEMENT

        border: none;
        cursor: pointer;

    }

    &:hover {

        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($primary-black,.2);

        &::after {

            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;

        }

    }

    &:active, &:focus {

        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($primary-black,.2);

    }

    &::after {

        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;

    }

    &--white {

        background-color: $primary-white;
        color: $primary-gray--dark;
        display: inline-block;

        &::after {

            background-color: $primary-white;

        }

    }

    &--green {

        background-color: $primary-green;
        color: $primary-white;
        display: inline-block;

        &::after {

            background-color: $primary-green;

        }

    }

    &-animated {

        &--moveInBottom {

            &:link, &:visited {
        
                animation: moveInBottom .5s ease-out .75s;
                animation-fill-mode: backwards;
        
            }

        }

    }

    &-text {

        &:link, &:visited {

            color: $primary-green;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: .1rem solid $primary-green;
            padding: .3rem;
            font-size: $default-font-size;

        }

        &:hover {

            background-color: $primary-green;
            color: $primary-white;
            box-shadow: 0 1rem 2rem rgba($primary-black, .15);
            transform: translateY(-.2rem);

        }

        &:active {

            box-shadow: 0 .5rem 1rem rgba($primary-black, .15);
            transform: translateY(0);

        }

    }

}